<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="assets/images/bp-logo.png" alt="bp" class="img-responsive">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <a routerLink="/api/admin/gov-representatives" routerLinkActive="active">All Governments</a>
        <li *ngFor="let government of governments">
          <!--/api/admin/gov-representatives/government/{governmentId}-->
          <!--<a routerLink="/api/admin/gov-representatives/government/goToGovernment(government?.id?.toString() ?? '')" routerLinkActive="active">{{ government?.name }}</a>-->
          <!--<a (click)="goToGovernment(government?.id?.toString() ?? '')" routerLinkActive="active">{{ government?.name }}</a>-->
          <a routerLink="/api/admin/gov-representatives/government/government?.id?.toString()" routerLinkActive="active-link">{{ government?.name }}</a>
      </ul>
    </nav>
  </div>
</aside>
