<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="assets/images/bp-logo.png" alt="bp" class="img-responsive">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <a routerLink="/api/admin/gov-representatives" routerLinkActive="active">Összes</a>
        <li *ngFor="let government of governments">
          <a (click)="goToGovernment(government?.id?.toString() ?? '')" routerLinkActive="active">{{ government?.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!--loop over the collection of donees-->
        <div *ngFor="let tempRepresentative of representatives" class="col-md-3">
          <div class="product-box">
            <img [src]="tempRepresentative.image" alt="{{ tempRepresentative.name }}" class="img-responsive">
            <h1>{{ tempRepresentative.name }}</h1>
            <div class="price">
              {{ tempRepresentative.jobTitle }}
            </div>
            <div class="description">
              {{ tempRepresentative.governmentName }}
            </div>
            <div class="description">
              {{ tempRepresentative.email }}
            </div>
            <div class="description">
              {{ tempRepresentative.phoneNumber }}
            </div>
            <div class="description">
              {{ tempRepresentative.address }}
            </div>
            <div class="description">
              {{ tempRepresentative.note }}
            </div>
            <div style="display: flex; gap: 10px;">
              <a href="#" class="primary-btn">Módosít</a>
              <a href="#" class="primary-btn">Töröl</a>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

